<!--create index page with boilerplate-->
<% layout('layouts/boilerplate') %>
    <h1>All Masajid</h1>

    <div>
        <a href="/masajid/new">Add Masjid</a>
    </div>

    <% for(let masjid of masajid){ %>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= masjid.image %>">
                </div>
                <div class="col-mg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= masjid.name %>
                        </h5>
                        <p class="text-muted">
                            <%= masjid.location %>
                        </p>
                        <a href="/masajid/<%=masjid.id%>" class="btn btn-success">View <%= masjid.name %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>